---
- name: Install required packages for Poetry installer on Ubuntu 22.04
  ansible.builtin.apt:
    name:
      - curl
      - ca-certificates
      - python3
      - python3-venv
      - python3-pip
    state: present
    update_cache: yes
  become: yes
