
- name: Install SDKMAN
  shell: |
    curl -s "https://get.sdkman.io" | bash
  args:
    executable: /bin/bash

- name: Refresh shell environment
  shell: |
    source {{ user_home_dir }}/.bashrc
  args:
    executable: /bin/bash

- name: Install Java Temurin {{ sdkman_java_version }} using SDKMAN
  shell: |
    source {{ user_home_dir }}/.sdkman/bin/sdkman-init.sh && sdk install java {{ sdkman_java_version }}
  args:
    executable: /bin/bash
  environment:
    SDKMAN_DIR: "{{ user_home_dir }}/.sdkman"
  when: sdkman_java_version | default('') != ''

- name: Install Gradle {{ sdkman_gradle_version }} using SDKMAN
  shell: |
    source {{ user_home_dir }}/.sdkman/bin/sdkman-init.sh && sdk install gradle {{ sdkman_gradle_version }}
  args:
    executable: /bin/bash
  environment:
    SDKMAN_DIR: "{{ user_home_dir }}/.sdkman"
  when: sdkman_gradle_version | default('') != ''