hosts

mdt-client-all.jar
**/mdt-client-all.jar

mdt-manager-all.jar
**/mdt-manager-all.jar

mdt-instance-all.jar
**/mdt-instance-all.jar

mdt-operation-http.jar
**/mdt-operation-http.jar

mdt-workflow-argo.jar
**/mdt-workflow-argo.jar

mdt-apps-all.jar
**/mdt-apps-all.jar