---
# ROS2 설치를 위한 tasks

- name: Ensure that the Ubuntu Universe repository is enabled.
  package:
    name:
      - software-properties-common
      - curl
      - gnupg2
      - lsb-release
    state: present
    update_cache: yes
  become: true

- name: Enable Universe repository
  ansible.builtin.apt_repository:
    repo: "deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} universe"
    state: present
  become: true

- name: ROS 2 GPG 키 등록
  ansible.builtin.shell: |
    mkdir -p /etc/apt/keyrings
    curl -sSL https://raw.githubusercontent.com/ros/rosdistro/master/ros.key | tee /etc/apt/keyrings/ros-archive-keyring.gpg > /dev/null
  args:
    creates: /etc/apt/keyrings/ros-archive-keyring.gpg
  become: true

- name: ROS 2 저장소 라인 추가
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/ros-archive-keyring.gpg] http://packages.ros.org/ros2/ubuntu jammy main"
    state: present
    filename: ros2
    update_cache: yes
  become: true

- name: Install ROS 2 Humble packages
  package:
    name:
      - ros-humble-desktop
      - ros-dev-tools
      - ros-humble-topic-tools
      - ros-humble-rmw-cyclonedds-cpp
    state: present
  become: true

- name: Install ROS2 Python dependencies
  package:
    name:
      - python3-colcon-common-extensions
      - python3-rosdep
      - python3-argcomplete
    state: present
  become: true

- name: Install rqt
  package:
    name:
      - ros-humble-rqt
      - ros-humble-rqt-common-plugins
      - ros-humble-rqt-graph
      - ros-humble-rqt-plot
    state: present
  become: true

- name: Initialize rosdep
  shell: |
    rosdep init
    rosdep update
  args:
    executable: /bin/bash
  become: true

- name: Install rosbridge-suite
  package:
    name: ros-humble-rosbridge-suite
    state: present
  become: true

- name: ROS2 환경설정 및 bashrc 설정
  include_tasks: configure.yml