---
- name: Install ROS 2 MoveIt dependencies
  apt:
    name:
      - ros-humble-moveit
      - ros-humble-moveit-servo
      - ros-humble-moveit-visual-tools

    # Joystick 관련
      # - ros-humble-joy-linux
      # SDL2-based joystick support
      - ros-humble-joy
      - ros-humble-joy-teleop
    state: present
  become: true