---
- name: install necessary softwares for MDT platform
  hosts: all
  vars_files:
    - vars/mdt_vars.yml

  pre_tasks:
    - name: Install psutil via apt (Ubuntu 22.04+)
      apt:
        name: python3-psutil
      become: true

  roles:
    - name: Install PostgreSQL
      role: postgresql
      vars:
        postgres_version: 16
      when: install_postgresql | default(true) | bool

    - name: Create PostgreSQL user for MDTPlatform internal data
      role: postgresql_user
      vars:
        postgres_user: "{{ mdt_postgres_user }}"
        postgres_password: "{{ mdt_postgres_password }}"
      when: install_postgresql | default(true) | bool

    - name: Create PostgreSQL database for MDTPlatform internal data
      role: postgresql_db
      vars:
        postgres_db: "{{ mdt_postgres_db }}"
        postgres_user: "{{ mdt_postgres_user }}"
        postgres_password: "{{ mdt_postgres_password }}"
      when: install_postgresql | default(true) | bool

    - name: Install pgAdmin4
      role: pgadmin4
      when: install_postgresql | default(true) | bool

    - name: Install Mosquitto
      role: mosquitto
      when: install_mosquitto | default(true) | bool

    - role: single_argo_workflow
      when: install_argo_workflow | default(true) | bool

    - name: Install ROS2
      role: ros2
      when: install_ros2 | default(false) | bool

    - name: Install ROS 2 MoveIt
      role: ros-humble-moveit
      when: install_ros2 | default(false) | bool

    - name: Install ROS 2 Panda
      role: ros-humble-panda
      when: install_ros2 | default(false) | bool

    - name: Install NodeRED
      role: nodered
      when: install_nodered | default(false) | bool

