---
- name: Check if pyenv is already installed
  ansible.builtin.stat:
    path: "{{ pyenv_root }}/bin/pyenv"
  register: pyenv_bin

- name: Ensure pyenv root directory exists
  ansible.builtin.file:
    path: "{{ pyenv_root }}"
    state: directory
    owner: "{{ pyenv_user }}"
    group: "{{ pyenv_user }}"
    mode: "0755"
  become: yes

# pyenv 설치 (latest or pinned)
- name: Install/Update pyenv (latest or pinned)
  ansible.builtin.git:
    repo: "https://github.com/pyenv/pyenv.git"
    dest: "{{ pyenv_root }}"
    version: "{{ (pyenv_version != 'latest') | ternary(pyenv_version, omit) }}"
    update: yes
  become: yes
  become_user: "{{ pyenv_user }}"
  environment:
    HOME: "{{ python_dev_home }}"

# pyenv-virtualenv 플러그인 설치 (latest or pinned)
- name: Install/Update pyenv-virtualenv plugin (latest or pinned)
  ansible.builtin.git:
    repo: "https://github.com/pyenv/pyenv-virtualenv.git"
    dest: "{{ pyenv_root }}/plugins/pyenv-virtualenv"
    version: "{{ (pyenv_virtualenv_version != 'latest') | ternary(pyenv_virtualenv_version, omit) }}"
    update: yes
  become: yes
  become_user: "{{ pyenv_user }}"
  environment:
    HOME: "{{ python_dev_home }}"
