user_id: "{{ ansible_user_id }}"
user_home_dir: "{{ ansible_env.HOME }}"

platform_host: "{{ ansible_host | default('localhost') }}"

mdt_home_dir: "{{ user_home_dir }}/mdt"
src_root_dir: "{{ user_home_dir }}/development"
mdt_build_version: "1.4.0"

ros2_ws_dir: "{{ user_home_dir }}/ros2_ws"

mdt_postgres_user: mdt
mdt_postgres_password: mdt2025
mdt_postgres_db: mdt

install_postgresql: true
install_mosquitto: true
install_nodejs: true
install_argo_workflow: false
install_ros2: true
install_nodered: false