---
- name: Install and configure Yarn
  hosts: all
  become: true
  
  vars:
  
  roles:
    - yarn
  
  post_tasks:
    - name: Display final status
      debug:
        msg: |
          Yarn 설치가 완료되었습니다!
          
          설치 방법: {{ yarn_install_method }}
          버전: {{ yarn_version }}
          
          사용 가능한 명령어:
          - yarn --version
          - yarn init
          - yarn add [package]
          - yarn install
          - yarn global add [package]
          
          설정 확인:
          - yarn config list
          
          새 터미널 세션을 열거나 다음 명령어로 환경을 새로고침하세요:
          source ~/.bashrc 